# cache
__pycache__/
.mypy_cache/
.pytest_cache/

# jupyter notebook
.ipynb_checkpoints

# package dependency
venv/
.python-version

# datasets
datasets/*
kaggle.json

# pipline data
*.pkl

# terraform
.terraform
.terraform*
terraform*

# google cloud
keyfile.json

# other
.DS_Store
.vscode/
